*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:4em;
}
input[type="number"]{
    border-radius: 5px;
}
.btn{
    border-radius: 10px;
    margin:15px 0;
}