
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="..\static\home.css">
  <title>My Website</title>
  <h1>WELCOME TO EXPENSE TRACKER APPLICATION</h1>
<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero">
          <h1><span>E</span>X<span>P</span>ENSE TRACKER</h1>
        </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="/signin"  data-after="Service">LOGIN</a></li>
          <li><a href="/signup" type="button"  data-after="Service">SIGNUP</a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

</body>
</html>
