{% extends 'base.html' %}

{% block body %} 
<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:monospace;
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
    </div>
</div>

{% endblock %}