<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="..\static\signup.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   
   <div class="wrapper">
	  <center>{{msg}}</center>
	  
	  <div class="title-text">
		 <div class="title login">
			SignUp Form
		 </div>
	  </div>
	  <div class="form-container">
			<div class="slider-tab"></div>
		 </div>
		 <div class="form-inner">
			<form action="/register" method="post" class="login">
            <div class="field">
               <input type="name" name="username" placeholder="Enter User name" required>
             </div>
			   <div class="field">
				  <input type="email" name="email" placeholder="Email Address" required>
			   </div>
			   <div class="field">
				  <input type="password" name="password" placeholder="Password" required>
			   </div>
			  
			   <div class="field btn">
				  <div class="btn-layer"></div>
				  <input type="submit" value="Register">
				  </div>
				 <center> <a href="/signin"  type="button"class="Service" >LOGIN</a></center>
			   </div>





			




	
	
    <script type="text/javascript" src="..\static\js\login.js"></script>
</body>
</html>
